.bg-canvas {
    background-color: rgba(255, 134, 134, 0.5);
    position: absolute;
    pointer-events: none;
    
}

.overlay-canvas {
    background-color: rgba(255, 134, 134, 0.5);
    position: absolute;
    
}
