.stamp-canvas {
    position: absolute;
    pointer-events: none;
    z-index: 7;
}

.line-canvas {
    position: absolute;
    pointer-events: none;
    z-index: 6;
}

.grid-canvas {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    background-color: #ffebcd;
}

.dot-canvas {
    position: absolute;
    pointer-events: none;
    z-index: 4;
}

.overlay-canvas {
    position: absolute;
    z-index: 5;
}

.solid-canvas {
    position: absolute;
    z-index: 2;
}

.border-canvas {
    position: absolute;
    z-index: 3;
}

.tool-bar {
    display: flex;
    border: 2px black solid;
    background-color: #e6e6fa
}

.tool-bar p {
    padding-inline: 5px;
}

.tool-bar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}