.bg-canvas {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    background-color: #ffebcd;
}

.guide-canvas {
    position: absolute;
    pointer-events: none;
    z-index: 2;
}

.overlay-canvas {
    position: absolute;
    z-index: 3;
}
